.root {
  position: relative;
  width: 300px;

  img {
    width: 300px;
  }
  .changePhotos {
    position: relative;
    cursor: pointer;

    .changePhoto1 {
      position: absolute;
      opacity: 1;
      transition: opacity 1s ease;

      &:hover {
        opacity: 0;
      }
    }
  }

  svg {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .footer {
    margin: 5px 10px 0px 5px;
  }

  span {
    font-size: 14px;
  }

  p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .root {
    width: 48%;

    img {
      width: 100%;
    }
  }
}
// @media (max-width: 520px) {
//   .root {
//     max-width: 200px;
//     img {
//       max-width: 200px;
//     }
//   }
// }
// @media (max-width: 470px) {
//   .root {
//     max-width: 175px;
//     img {
//       max-width: 175px;
//     }
//   }
// }
// @media (max-width: 420px) {
//   .root {
//     max-width: 150px;
//     img {
//       max-width: 150px;
//     }
//   }
// }
