.price-input {
    display: flex;
    width: 100%;

}

.price-input .field {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;

}

.field input {
    width: 100%;


    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 600;
    text-align: center;
    line-height: 16px;
    width: 65px;
    padding: 8px;



    -moz-appearance: textfield;
}

.field span {
    font-size: 14px;
    padding-left: 4px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {

    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    margin-top: 20px;
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: grey;
}

.slider .progress {
    height: 5px;
    position: absolute;
    left: 25%;
    right: 25%;
    border-radius: 5px;
    background: rgb(234, 1, 1);
}

.range-input {
    position: relative;
    margin-bottom: 24px;
}

.range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    border: none;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background-color: rgb(0, 0, 0);
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: rgb(0, 0, 0);
}




/* _____checkbox */
input[type="checkbox"] {
    background: #990000;

}