.root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;

  .active {
    text-shadow: 0px 0px 0.2px black;
    border-bottom: 2px solid black;
    margin-bottom: -2px;
  }
  a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 5px;
    cursor: pointer;
    transition: shake 0.9s ease;

    &:hover {
      text-shadow: 0px 0px 0.2px black;
    }
  }
}

@media (max-width: 1020px) {
  .root {
    max-width: 600px;
  }
}
@media (max-width: 720px) {
  .root {
    max-width: 400px;
    justify-content: space-around;
  }
}
