@import "../../scss/variable.scss";
.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  .blockMenuMob {
    display: none;
  }

  .blockLanguage {
    position: relative;
    display: flex;
    width: 100px;
    justify-content: space-between;
  }

  .popup {
    position: absolute;
    top: 20px;
    left: 0px;
    li {
      cursor: pointer;

      &:hover {
        font-weight: 500;
      }
    }
  }
  .blockArrow {
    display: flex;
    align-items: center;

    p {
      cursor: pointer;
    }
    img {
      margin-left: 3px;
    }
  }

  .blockTools {
    margin-right: 10px;
    display: flex;
    .basket,
    .favorite {
      cursor: pointer;
      position: relative;
      .circle {
        position: absolute;
        top: 10px;
        left: 30px;
        height: 18px;
        width: 18px;
        border-radius: 100%;
        background-color: $red;
        font-size: 10px;
        line-height: 18px;
        color: white;
        font-weight: bold;
        text-align: center;
      }
    }

    svg {
      margin-left: 20px;
      path {
        cursor: pointer;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 780px) {
  .root {
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 0px 10px $light-grey;
    z-index: 10;

    align-items: center;

    h1 {
      font-size: 26px;
    }
    .blockLanguage {
      display: none;
    }
    .blockMenuMob {
      position: relative;
      display: block;
      height: 30px;
      width: 40px;

      border-top: 4px solid $black;
      border-bottom: 4px solid $black;

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        display: block;
        background-color: $black;
      }
    }
  }
}

@media (max-width: 540px) {
  .root {
    h1 {
      display: none;
    }

    .blockTools {
      margin-right: 20px;
    }
  }
}
