@import "./normalize.scss";

.container {
  margin: 0 auto;
  padding: 20px 10px;
  max-width: 1200px;

  .main {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .main-col-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .main-col-2-items {
        margin-top: 20px;
        width: 910px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .skeleton {
          width: 300px;
          height: 464px;
        }
      }
    }

    .main-col-2-mobile {
      display: none;
    }
  }

  .filter-mobile {
    display: none;
  }

  .description {
    display: flex;
    justify-content: space-between;
  }

  .karusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .karusel-main {
      display: flex;
      align-items: center;
      position: relative;
      background-repeat: cover;
      figure {
        margin: 0px 20px;
        width: 360px;
        height: 480px;
        background-size: 200%;
        background-repeat: no-repeat;

        &:hover {
          cursor: crosshair;
          img {
            opacity: 0;
          }
        }

        .karusel-foto {
          // margin: 0px 20px;
          width: 360px;
          height: 480px;
          img {
            display: block;
            pointer-events: none;
          }
        }
      }

      height: 480px;
      .arrow {
        cursor: pointer;
      }

      .close {
        width: 24px;
        height: 24px;
        cursor: pointer;

        position: absolute;
        top: 40px;
        right: 0px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          width: 24px;
          height: 2px;
          background: $black;
        }

        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    .karusel-futer {
      display: flex;
      gap: 5px;

      margin: 10px 0px 16px 0px;
      .futer-foto {
        img {
          width: 76px;
          height: 101px;
          cursor: pointer;
          display: block;
        }
        .active-foto {
          border: 1px solid $black;
        }

        .active {
          margin-top: 4px;
          height: 3px;
          background-color: $black;
        }
      }
    }
  }
}

* {
  margin: 0;

  a {
    color: black;
    text-decoration: none;
  }
  p {
    font-size: 14px;
  }

  li {
    list-style-type: none;
  }
}

@media (max-width: 620px) {
  .container {
    .main {
      .main-col-2 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .main-col-2-items {
          max-width: 100%;
          display: flex;

          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .container {
    .main {
      .main-col-2-mobile {
        .main-col-2-items {
          .skeleton {
            width: 49%;
            height: auto;
            rect {
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 625px) {
//   .container {
//     .main {
//       .main-col-2 {
//         .main-col-2-items {
//           .skeleton {
//             // width: 100%;
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 1200px) {
  .container {
    .main {
      .main-col-2 {
        display: none;
      }

      .main-col-2-items {
        margin-top: 20px;
        max-width: 1200px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
        .skeleton {
          width: 300px;
          height: 464px;
        }
      }

      .main-col-2-mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .skeleton {
          width: 300px;
          height: 464px;
        }

        .main-col-2-mobile-header {
          display: flex;
          justify-content: center;
          gap: 5px;
          width: 100%;
        }
      }
    }

    .filter-mobile,
    .menu-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 20;
      top: 0;
      left: 0;
      background-color: white;

      .filter-mobile-header,
      .menu-mobile-header {
        display: flex;

        width: 100vw;
        height: 60px;
        position: relative;
        justify-content: center;
        align-items: center;

        p {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .header-close {
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          padding-top: 10px;
          width: 24px;
          height: 24px;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 2px;
            background: $black;
          }

          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }

      .menu-mobile-header {
        padding-left: 10px;
        justify-content: flex-start;
      }

      .filter-mobile-footer {
        padding: 29px 10px 16px 10px;
        button {
          cursor: pointer;
          font-size: 12px;
          display: block;
          padding: 13px;
          width: 100%;
          &:nth-child(1) {
            background-color: $black;
            color: $white;
            margin-bottom: 8px;
          }
          &:nth-child(2) {
            border: 1px solid $black;
          }
        }
      }
    }
    .menu-mobile {
      justify-content: start;
    }
    .menu-mobile-search {
      position: relative;
      margin: 0px 10px;

      input {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        padding: 9px 40px 7px 8px;
        border: 1px solid $light-grey;
      }

      svg {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .menu-mobile-sale {
      padding: 15px 10px;
      border-bottom: 1px solid $light-grey;
      p {
        font-size: 14px;
        font-weight: bold;
        color: $red;
      }
    }

    .menu-mobile-language {
      padding: 15px 10px;
      p {
        font-size: 14px;
        font-weight: bold;
        color: $black;
      }
      span {
        display: block;
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 930px) {
  .container {
    .main {
      .main-col-2 {
      }

      .main-col-2-items {
        margin-top: 20px;
        max-width: 606px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 830px) {
  .container {
    .description {
      flex-direction: column;
    }
  }
}
@media (max-width: 780px) {
  .container {
    .description {
      flex-direction: column;
      gap: 10px;
      margin-top: 60px;
    }
  }
}

@media (max-width: 930px) {
  .main-col-2-items {
    margin-top: 20px;
    max-width: 606px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// @media (max-width: 620px) {
//   .main-col-2-items {
//     max-width: 100%;
//     display: flex;

//     flex-wrap: wrap;
//     justify-content: center;
//   }
// }
